[submodule "engines/lodestar/lodestar"]
	path = engines/lodestar/lodestar
	url = https://github.com/nazarhussain/lodestar.git
[submodule "engines/nimbus/nimbus-eth2"]
	path = engines/nimbus/nimbus-eth2
	url = https://github.com/samcm/nimbus-eth2.git
	branch = fcr-frozen-anchor-fix
[submodule "engines/teku/teku"]
	path = engines/teku/teku
	url = https://github.com/Nashatyrev/teku.git
	branch = confirmation-2
[submodule "engines/lighthouse/lighthouse"]
	path = engines/lighthouse/lighthouse
	url = https://github.com/samcm/lighthouse.git
	branch = fcr-simulator
[submodule "engines/prysm/prysm"]
	path = engines/prysm/prysm
	url = https://github.com/OffchainLabs/prysm.git
	branch = fcr
